@{
    ViewBag.Title = "About";
}
<h3 align="center" style="margin-bottom:30px;">@ViewBag.Title</h3>

<img src="~/Images/about_person_1.jpg" style="width: 20%; margin-left:40%; margin-bottom:20px;" />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Ut eget iaculis enim, vitae finibus turpis.
    Praesent ex diam, sollicitudin at ornare ut, scelerisque ut dolor.
    Pellentesque bibendum neque eu erat sollicitudin, ut suscipit leo blandit.
    Maecenas lacinia leo ac maximus ornare.
    Sed dictum, urna et varius rutrum, augue dolor bibendum arcu, eget pretium justo magna eu eros.
    Nullam accumsan neque faucibus lectus congue tincidunt.
    Cras id malesuada libero, et laoreet arcu.
    Vivamus blandit, turpis vitae dapibus aliquam, nunc sapien fringilla sapien, non blandit ante ante eu turpis.
    Integer lobortis felis ipsum, vel vestibulum justo vehicula congue.
    Pellentesque dolor lacus, egestas in sem quis, lacinia tempus ligula.
    Sed lobortis massa a neque consequat, et sodales nunc consectetur.
</p>

<img src="~/Images/about_person_2.jpg" style="width: 30%; margin-left:35%; margin-bottom:20px; margin-top:20px;" />
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Ut eget iaculis enim, vitae finibus turpis.
    Praesent ex diam, sollicitudin at ornare ut, scelerisque ut dolor.
    Pellentesque bibendum neque eu erat sollicitudin, ut suscipit leo blandit.
    Maecenas lacinia leo ac maximus ornare.
    Sed dictum, urna et varius rutrum, augue dolor bibendum arcu, eget pretium justo magna eu eros.
    Nullam accumsan neque faucibus lectus congue tincidunt.
    Cras id malesuada libero, et laoreet arcu.
    Vivamus blandit, turpis vitae dapibus aliquam, nunc sapien fringilla sapien, non blandit ante ante eu turpis.
    Integer lobortis felis ipsum, vel vestibulum justo vehicula congue.
    Pellentesque dolor lacus, egestas in sem quis, lacinia tempus ligula.
    Sed lobortis massa a neque consequat, et sodales nunc consectetur.
</p>