@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>


<address>
    1234 Test Way<br />
    New York, NY 10000<br />
    Phone: (425) 555-0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>