@{
    ViewBag.Title = "Home Page";
}

<img src="~/Images/image_edited.jpg" style="width: 100%"/>

    <div class="row">
        <div class="col-md-4">
            <h4>General Presentation</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse non nisl at quam imperdiet pretium.
                Praesent sed orci dictum, tempor neque aliquam, ornare augue.
                Sed sed neque varius, blandit turpis.
            </p>
            <p><a class="btn btn-light" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Promises</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Maecenas interdum hendrerit auctor.
                Duis elementum massa at ornare condimentum.
                Pellentesque habitant.
            </p>
            <p><a class="btn btn-light" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h4>Points of sale</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec pharetra nulla at euismod ultricies. Donec vitae pharetra urna.
                Sed in iaculis magna. Quisque orci massa.
            </p>
            <p><a class="btn btn-light" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>